.navbar {
    align-items: center;
    background-color: #521414;
    color: #D1A257;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-family: "Sorts Mill Goudy";
    font-size: 20px;
}
.logo-navbar {
    height: 30px;
    width: 35px;
}
.navbar .close {
    background-color: #480000;
    padding: 3px 9px;
    border-radius: 5px;
}